{% extends "base.html" %}
{% block navbar %}
<ul class="nav" xmlns="http://www.w3.org/1999/html">
    <li><a href="/">Home</a></li>
    <li><a href="/browse" class="active">Browse</a></li>
    <li><a href="#implementation">Implementation</a></li>
    <li><a href="#contact">About Me</a></li>
</ul>
{% endblock %}
{% block content %}

    <!-- ***** Navbar container ***** -->
    <section class="section colored" id="nav-container"></section>

    <!-- ***** Browse Start ***** -->
    <section class="section" id="browse">
        <div class="container">

            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Browse for a barbershop tag</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Explore the list of <strong>125</strong> tags from the <strong>Classic Tags</strong> collection</p>
                        <p>Compiled by <strong>David Wright</strong>, and assisted by <br><strong>Jim Bagby, Jim Henry, Kevin Keller, and David Krause.</strong></p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <!-- ***** Search Bar Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-form">
                        <form id="search" method="post">
                          <div class="row">
                            <div class="col-lg-12">
                              <fieldset>
                                <input name="search-box" type="text" class="form-control" id="search-box" placeholder="Enter keywords..." required="">
                                <button class="main-button search-button" type="submit" id="form-submit"><i class="fa fa-search"></i></button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="center-text">
                        <a href="/browse" class="main-button-slider">Show All</a>
                    </div>
                </div>
            </div>
            <!-- ***** Search Bar End ***** -->

            <!-- ***** Result Titles Start ***** -->
            <div class="col-lg-12">
                <div class="row single-row">
                    <div class="left-text col-lg-7">
                        <p><strong>Title</strong></p>
                    </div>
                    <div class="col-lg-3 d-none d-lg-block">
                        <div class="row">
                            <div class="left-text col">
                                <p><strong>Key</strong></p>
                            </div>
                            <div class="left-text col">
                                <p><strong>Rating</strong></p>
                            </div>
                            <div class="left-text col">
                                <p><strong>Videos</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Result Titles End ***** -->

            <!-- ***** Results Start ***** -->
            <div id="search-results" class="col-lg-12">
            
                {% for result in results %}
                <div class="row single-row">
                    <div class="left-text col-lg-7">
                        <p>{{ result['Title'] }}</p>
                    </div>
                    <div class="col-lg-3 d-none d-lg-block">
                        <div class="row">
                            <div class="left-text col">
                                <p>{{ result['WritKey'] }}</p>
                            </div>
                            <div class="left-text col">
                                <p>{{ result['Rating'] }}</p>
                            </div>
                            <div class="left-text col">
                                <p>{{ result['videos'] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-right col-lg-2">
                        <p><a href="/visualiser/{{ result['id'] }}" class="main-button-slider">Visualise</a></p>
                    </div>
                </div>
                {%endfor%}
                
            </div>
            <!-- ***** Results End ***** -->

        </div>
    </section>
    <!-- ***** Browse End ***** -->
    
    <!-- ***** Implementation Start ***** -->
    <section class="section colored" id="implementation">
        <div class="container">
        
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Implementation</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Maecenas pellentesque ante faucibus lectus vulputate sollicitudin. Cras feugiat hendrerit semper.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->
            
        </div>
    </section>
    <!-- ***** Implementation End ***** -->

    <!-- ***** About Me Start ***** -->
    <section class="section" id="contact">
        <div class="container">
        
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">About Me</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Maecenas pellentesque ante faucibus lectus vulputate sollicitudin. Cras feugiat hendrerit semper.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->
            
        </div>
    </section>
    <!-- ***** About Me End ***** -->

{% endblock %}
