<!-- ***** Flask extensions ***** -->
{% extends "base.html" %}
{% block navbar %}
<ul class="nav">
    <li><a href="#welcome" class="active">Home</a></li>
    <li><a href="#features">Features</a></li>
    <li><a href="/browse">Browse</a></li>
    <li><a href="#demo">Demo</a></li>
    <li><a href="#implementation">Implementation</a></li>
    <li><a href="#contact">About Me</a></li>
</ul>
{% endblock %}
<!-- ***** Flask extensions ***** -->

{% block content %}

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1>A synaesthetic visualiser<br>for classic <strong>barbershop</strong> tags</h1>
                        <p>Have you ever wondered what appears in front of synaesthetic musicians when music hits their ears?<br>This app will allow you to experience this phenomenon with the help of short pieces of music in the style of four-part harmony barbershop!</p>
                        <a href="/browse" class="main-button-slider">Browse for a tag</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Start ***** -->
    <section class="section home-feature" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i class="fa fa-music"></i>
                                </div>
                                <h5 class="features-title">Musical</h5>
                                <p>Listen to 125 recorded tags beautifully sung by <strong>Daniel Gillis</strong></p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i class="fa fa-tint"></i>
                                </div>
                                <h5 class="features-title">Colorful</h5>
                                <p>You now have the ability to see colours in music, thanks to the chromesthetic mappings of <strong>Alexander Scriabin</strong></p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i class="fa fa-graduation-cap"></i>
                                </div>
                                <h5 class="features-title">Educational</h5>
                                <p>This is the perfect website for a visual learner who wants to get into Barbershop Music!</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->

    <!-- ***** Demo Start ***** -->
    <section class="section" id="demo">
        <div class="container">

            <!-- ***** Demo Description Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Get a glimpse below!</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>The following barbershop tag is called <strong>Lone Prairie</strong> arranged by <strong>Norman Luboff</strong> in 1966.</p>
                        <p>The tracks are sung by in the key of <strong>F</strong>.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Demo Description End ***** -->

            <!-- ***** Visualiser Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <canvas id="visualiser"></canvas>
                        <!-- ***** Use Lone Prairie as demo ***** -->
                        <audio id="audio" src="{{ url_for('static', filename='assets/audio/all_parts/68.mp3') }}"></audio>
                    </div>
                </div>
                <div class="col-lg-12"><p>&nbsp;</p></div>
                <div class="col-lg-12">
                    <div class="center-heading">
                        <progress id="progress-bar" value="0.0" max="1"></progress>
                    </div>
                </div>

                <div class="col-lg-12"><p>&nbsp;</p></div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="row">
                        <div class="col">
                            <div class="center-heading">
                                <a href="#" onclick="restart();" class="main-button-slider">Restart</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="center-heading">
                                <a href="#" onclick="start();" class="main-button-slider">Start</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="center-heading">
                                <a href="#" onclick="stop();" class="main-button-slider">Stop</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Visualiser End ***** -->

        </div>
    </section>
    <!-- ***** Demo End ***** -->
    
    <!-- ***** Implementation Start ***** -->
    <section class="section colored" id="implementation">
        <div class="container">
        
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Implementation</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Maecenas pellentesque ante faucibus lectus vulputate sollicitudin. Cras feugiat hendrerit semper.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->
            
        </div>
    </section>
    <!-- ***** Implementation End ***** -->

    <!-- ***** About Me Start ***** -->
    <section class="section" id="contact">
        <div class="container">
        
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">About Me</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Maecenas pellentesque ante faucibus lectus vulputate sollicitudin. Cras feugiat hendrerit semper.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->
            
        </div>
    </section>
    <!-- ***** About Me End ***** -->

    <!-- ***** Driver Scripts Start ***** -->
    <script>

        let input_bass_data = {{ tag_data['bass_data']|tojson }};
        let input_bari_data = {{ tag_data['bari_data']|tojson }};
        let input_lead_data = {{ tag_data['lead_data']|tojson }};
        let input_tenor_data = {{ tag_data['tenor_data']|tojson }};
        let duration = {{ tag_data['duration'] }};

        let maxValue = 9.5, minValue = 6;

    </script>
    <script src="{{ url_for('static', filename='assets/js/visualiser.js') }}"></script>
    <!-- ***** Driver Scripts End ***** -->

{% endblock %}
