<!-- ***** Flask extensions ***** -->
{% extends "base.html" %}
{% block navbar %}
<ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/browse">Browse</a></li>
    <li><a href="#videos">Videos</a></li>
</ul>
{% endblock %}
{% block content %}

    <!-- ***** Navbar container ***** -->
    <section class="section colored" id="nav-container"></section>

    <!-- ***** Content***** -->
    <section class="section" id="information">
        <div class="container">

            <div class="row">

                <!-- ***** Title ***** -->
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title"><strong>{{ tag_data['Title'] }}</strong></h2>
                        {% if tag_data['AltTitle'] %}
                            <h2 class="section-title">aka "{{ tag_data['AltTitle'] }}"</h2>
                        {% endif %}
                    </div>
                </div>

                <!-- ***** Rating ***** -->
                <div class="col-lg-12">
                    <div class="center-heading">
                        <p>
                            {% for i in range(tag_data['Rating']|round|int) %}
                                <span class="fa fa-star checked"></span>
                            {% endfor %}
                            {% for i in range(5 - tag_data['Rating']|round|int) %}
                                <span class="fa fa-star"></span>
                            {% endfor %}
                        </p>
                    </div>
                </div>

                <div class="col-lg-12"><p>&nbsp;</p></div>

                <!-- ***** Visualiser ***** -->
                <div class="col-lg-12">
                    <div class="center-heading">
                        <canvas id="visualiser"></canvas>
                        <audio id="audio" src="{{ url_for('static', filename='assets/audio/all_parts/' + tag_data['id']|string + ".mp3") }}"></audio>
                    </div>
                </div>

                <div class="col-lg-12"><p>&nbsp;</p></div>

                <!-- ***** Media Controls ***** -->
                <div class="col-lg-12">
                    <div class="center-heading">
                        <progress id="progress-bar" value="0.0" max="1"></progress>
                    </div>
                </div>

                <div class="col-lg-12"><p>&nbsp;</p></div>

                <div class="offset-lg-3 col-lg-6">
                    <div class="row">
                        <div class="col">
                            <div class="center-heading">
                                <a href="#" onclick="restart();" class="main-button-slider">Restart</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="center-heading">
                                <a href="#" onclick="start();" class="main-button-slider">Start</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="center-heading">
                                <a href="#" onclick="stop();" class="main-button-slider">Stop</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12"><p>&nbsp;</p><p>&nbsp;</p></div>

                <!-- ***** Extra Information ***** -->
                <div class="col-lg-12">
                    <div class="center-text">
                        <p>Tracks Sung by <strong>Daniel Gillis</strong> (<a href="https://vocalharmonies.com/">www.vocalharmonies.com</a>)<br>Written and sung in key: <strong>{{ tag_data['WritKey'] }}</strong></p>
                    </div>
                </div>

                <!-- ***** Sheet Music ***** -->
                <div class="col-lg-12">
                    <div class="center-heading">
                        <img class="img-fluid" src="{{ tag_data['SheetMusic'] }}" alt="sheet music" />
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- ***** Videos Start ***** -->
    <section class="section colored" id="videos">
        <div class="container">

            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Videos</h2>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <!-- ***** Videos List Start ***** -->
            <div class="row">
                {% for video in tag_data['videos_list'] %}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="blog-post-thumb">
                            <div class="img">
                                <img class="youtube-thumbnail" src="https://img.youtube.com/vi/{{ video['Code'] }}/hqdefault.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <h3>{{ video['SungBy'] }}</h3>
                                <div class="text">
                                   Posted on {{ video['Posted'] }}
                                </div>
                                <a href="https://youtu.be/{{ video['Code'] }}" rel="noopener noreferrer" target="_blank" class="main-button">Watch on YouTube</a>
                            </div>
                            <div class="col-lg-12"><p>&nbsp;</p><p>&nbsp;</p></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- ***** Videos List End ***** -->
        </div>
    </section>
    <!-- ***** Videos End ***** -->


    <!-- Driver Scripts Start -->
    <script>

        let input_bass_data = {{ tag_data['bass_data']|tojson }};
        let input_bari_data = {{ tag_data['bari_data']|tojson }};
        let input_lead_data = {{ tag_data['lead_data']|tojson }};
        let input_tenor_data = {{ tag_data['tenor_data']|tojson }};
        let duration = {{ tag_data['duration'] }};

        let maxValue = 9.5, minValue = 6;

    </script>
    <script src="{{ url_for('static', filename='assets/js/visualiser.js') }}"></script>
    <!-- Driver Scripts End -->

{% endblock %}
